{% extends "layout.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
         <ul class="flashes">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <div class="weather">Weather Today:
	    {% for w in cur_weather %}
	   	 {{ w }} 
	    {% endfor %}
    </div>
    <h1>I <3 bUbBlE tEa!</h1>
    <div><h3>Add a location <a href="{{ url_for('add') }}">here</a></h3>
	    {% for t in text1 %}
	    <p> {{ t }} </p>
	    {% endfor %} 	    
    </div>
    <div><h3>Check out all locations <a href="{{ url_for('show') }}">here</a></h3>
	    {% for t in text2 %}
            <p> {{ t }} </p>
            {% endfor %}
    </div>
    <div><h3>Let us know about your fun time?<a href = "{{url_for('fun') }}">here</a></h3>
	    {% for t in text4 %}
	    <p> {{ t }} </p>
	    {% endfor %}
    </div>
    
{% endblock %}
